.card {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #eee;
}

.card:hover {
    background-color: #6c9fec; 
    color: white;
}

.card-img-top {
    object-fit: cover;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.valor {
    font-size: calc(10px + 1vmin);
    font-weight: bold;
}

.card:hover .btn {
    background-color: white;
    color:black;
}