.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-pratos {
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

.alerta {
  z-index: 9999;
  padding: 20px;
  float: left;
}